@use '../util' as *;
@use 'button' as *;

.input {
    width: 100%;
    padding: rem(15) rem(15) rem(15) rem(15);

    @include breakpoint(large){
        width: 50%;
        padding: rem(15) rem(40) rem(15) rem(15);
    }

    &__label {
        font-size: rem(15);
        font-weight: 700;
        color: var(--dg-cyan-1);
        padding-bottom: rem(10);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .alert{
            display:none;
        }
        .trigger-warning{
            display:block;
            color: chocolate;
        }
    }

    &__number .svg-icon {
        position: absolute;
        padding: rem(14) 0 0 rem(18);
    }

    &__radio {
        display:none;

    }
}

$padding-bottom: rem(40);

.input-box {
    //justify-content: space-between;
    background-color: var(--lg-cyan-2);
    border: 2px solid var(--lg-cyan-2);
    border-radius: rem(5);
    padding: rem(4) rem(18);
    font-size: rem(23);
    font-weight: 700;
    color: var(--dark-cyan);
	font-family: var(--font-smono);
    cursor: pointer;

    width: 100%;
    text-align: right;

    &::placeholder {
        color: var(--dg-cyan-2);
    }

    &:focus {
        outline-color: var(--strong-cyan);
    }

    &.warning {
        border-color: chocolate;
    }

    &__custom {
        padding: rem(4) 0;

        &::placeholder {
            color: var(--dg-cyan-1);
            text-align: center;
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
    margin: 0;
}

.bill {
    padding-bottom: $padding-bottom;
}

.tip-selector {
    padding-bottom: $padding-bottom;

    &__buttons {
        display: grid;
        grid-gap: rem(16);
        // https://stackoverflow.com/questions/46589611/how-to-use-a-css-grid-with-percentages-and-an-unknown-amount-of-columns
        // fr: uses the space left after gutters are factored in
        grid-template-columns: 50fr 50fr;
        overflow: hidden;

        @include breakpoint(large) {
            grid-template-columns: 33.3fr 33.3fr 33.3fr;
        }


    }

    &__pt {
        @include button-style;

        &.active {
            background-color: var(--strong-cyan);
            color: var(--dark-cyan);
            font-weight: 700;
        }

    }

    &__custom {
        @include button-style($bg-color: var(--lg-cyan-2), $color: var(--dg-cyan-2));
        font-weight: 700;
    }

}

